body {
  background-color: black;
  color: white;
}

span {
  color: green;
  border: 1px solid white;
  /* padding: 2px; */
}

.button {
  border: 1px double green;
  border-radius: 45px;
}
.button:hover {
  background-color: blueviolet;
}
