body {
  background-color: black;
}

.div1 {
  background-color: rgb(247, 247, 247);
  width: 50%;
  margin: 25px;
  padding: 15px;
  color: rgb(114, 173, 114);
  text-align: center;
}
input {
  color: green;
}
